{% extends 'layout/main-layout.html' %} {% block content %}
<h2
  id="titulo-grid"
  class="d-flex flex-row align-items-center justify-content-between py-5"
>
  Álbumes 
  <a href="{% url 'albumes.agregar' %}" class="btn btn-secondary">Agregar</a>
</h2>
<div class="mb-3">
    <form
      method="post"
      class="d-flex justify-content-center gap-3 align-items-center"
    >
    <div class="botones-nav d-flex align-items-center">
      <button
      title="Página anterior"
      id="boton-flecha-volver"
      class="boton-flecha bg-teal"
      type="button"
      {%if albumes.has_previous%}
        onclick="window.location.href='?pagina={{ albumes.previous_page_number }}'"
      {% else %}
      disabled
      {% endif %}
      >
      <svg role="img" height="16" width="16" viewBox="0 0 16 16" class="icono">
          <path
          d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"
          ></path>
        </svg>
      </button>
      <p class="numero-pagina m-0 font-weigth-bold">
        {{ albumes.number }}-{{ albumes.paginator.num_pages }}
      </p>
      <button
        title="Página siguiente"
        class="boton-flecha"
        type="button"
        {%if albumes.has_next%}
          onclick="window.location.href='?pagina={{ albumes.next_page_number }}'"
        {% else %}
          disabled
        {% endif %}
      >
        <svg role="img" height="16" width="16" viewBox="0 0 16 16" class="icono">
          <path
            d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"
          ></path>
        </svg>
      </button>
    </div>
      {% csrf_token %}
      <div class="w-25">{{filtro.nombre}}</div>
      <div class="">{{filtro.artista}}</div>
      <div>
        <div>
          <button type="submit" class="btn btn-teal small">Buscar</button>
        </div>
      </div>
      
    </form>
    
  </div>
  
  <div id="songs-grid" class="row">
    {% for album in albumes %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">
      <div
        class="card bg-card text-white h-100 cancion-card"
        data-id="{{album.id}}"
      >
        <div class="position-relative">
          <img
            class="card-img-top imagen-cancion"
            src="{{album.logo.url}}"
            alt="{{album.nombre}}"
          />
        </div>
        <div class="card-body">
          <p class="card-title titulo-cancion">{{album.nombre}}</p>
          <p class="card-text nombre-autor">Álbum</p>
          <div class="d-flex flex-row align-items-center justify-content-between py-0 px-5">
            <a onclick="window.location.href='/biblioteca/albumes/editar/{{album.id}}'" class="link small text-info">Editar</a>
            <a onclick="confirmarBorrar({{album.id}})" class="link small text-danger">Eliminar</a>
          </div>
        </div>
  
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock content %} {% block js %} 
  <script>
  
    function confirmarBorrar(id) {
      Swal.fire({
        title: "¿Estás seguro?",
        text: "No se puede deshacer",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "teal",
        cancelButtonColor: "#cc0000",
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href='/biblioteca/albumes/eliminar/' + id;
        }
      });
    } 
  
  </script>

{% endblock js%}