{% extends 'master.html' %} {% block body %} {% load static %}
<body>
  <main class="content">
    <div class="d-flex flex-row w-100 gap-8">
      <!-- SIDEBAR -->
      <div class="sidebar d-flex flex-column gap-8">
        <!-- TOP -->
        <nav class="bg-main sidebar-top">
          <a href="{% url 'inicio' %}">
            <span id="boton-inicio-sidebar" class="link-sidebar seleccionable">
              <svg
                role="img"
                height="24"
                width="24"
                viewBox="0 0 24 24"
                class="icono-selected"
              >
                <path
                  d="M13.5 1.515a3 3 0 0 0-3 0L3 5.845a2 2 0 0 0-1 1.732V21a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6h4v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V7.577a2 2 0 0 0-1-1.732l-7.5-4.33z"
                ></path>
              </svg>
              <span>Inicio</span>
            </span>
          </a>
          <a href="{% url 'canciones.busqueda' %}">
            <span class="link-sidebar seleccionable">
              <svg
                class="icono"
                role="img"
                height="24"
                width="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M10.533 1.279c-5.18 0-9.407 4.14-9.407 9.279s4.226 9.279 9.407 9.279c2.234 0 4.29-.77 5.907-2.058l4.353 4.353a1 1 0 1 0 1.414-1.414l-4.344-4.344a9.157 9.157 0 0 0 2.077-5.816c0-5.14-4.226-9.28-9.407-9.28zm-7.407 9.279c0-4.006 3.302-7.28 7.407-7.28s7.407 3.274 7.407 7.28-3.302 7.279-7.407 7.279-7.407-3.273-7.407-7.28z"
                ></path>
              </svg>
              <span>Buscar</span>
            </span>
          </a>
        </nav>
        <!-- BOTTOM -->
        <div class="bg-main border-radius-8 h-100 sidebar-bot">
          <span class="link-sidebar link-sidebar-bot">
            <div class="boton-biblioteca">
              <svg
                role="img"
                height="24"
                width="24"
                viewBox="0 0 24 24"
                class="icono"
              >
                <path
                  d="M3 22a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v18a1 1 0 0 1-1 1zM15.5 2.134A1 1 0 0 0 14 3v18a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V6.464a1 1 0 0 0-.5-.866l-6-3.464zM9 2a1 1 0 0 0-1 1v18a1 1 0 1 0 2 0V3a1 1 0 0 0-1-1z"
                ></path>
              </svg>
              <span>Agregar a tu biblioteca</span>
            </div>
            <button
              type="submit"
              class="boton-agregar seleccionable-fondo seleccionable"
            >
              <svg
                role="img"
                height="16"
                width="16"
                aria-hidden="true"
                viewBox="0 0 16 16"
                class="icono"
              >
                <path
                  d="M15.25 8a.75.75 0 0 1-.75.75H8.75v5.75a.75.75 0 0 1-1.5 0V8.75H1.5a.75.75 0 0 1 0-1.5h5.75V1.5a.75.75 0 0 1 1.5 0v5.75h5.75a.75.75 0 0 1 .75.75z"
                ></path>
              </svg>
            </button>
          </span>
        </div>
      </div>
      <!-- MAIN BOX -->
      <div class="main-box bg-main w-100 border-radius-8">
        <header class="position-relative w-100">
          <div class="box-header">
            <div class="botones-nav">
              <button
                id="boton-flecha-volver"
                class="boton-flecha"
                type="button"
              >
                <svg
                  role="img"
                  height="16"
                  width="16"
                  viewBox="0 0 16 16"
                  class="icono"
                >
                  <path
                    d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"
                  ></path>
                </svg>
              </button>
              <button class="boton-flecha" type="button" disabled>
                <svg
                  role="img"
                  height="16"
                  width="16"
                  viewBox="0 0 16 16"
                  class="icono"
                >
                  <path
                    d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"
                  ></path>
                </svg>
              </button>
            </div>
            <div class="links-nav">
              <a href="https://github.com/JotaZen" class="text-decoration-none">
                <p class="botones-nav-der-neg">Jordy Zenteno</p>
              </a>
              <a
                href="https://github.com/JotaZen/spookify"
                class="text-decoration-none"
              >
                <button class="botones-nav-der" type="button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                    />
                  </svg>
                  Github
                </button>
              </a>
            </div>
          </div>
        </header>

        <div class="biblioteca border-radius-8">
          <!-- GRID -->
          {% block content %}{% endblock content %}
        </div>

        <!-- FOOTER -->
      </div>
    </div>
    <!-- INFO BOTTOM -->
    <footer id="layout-footer">{% include './main-footer.html' %}</footer>
  </main>
</body>
{% endblock body %}
