{% extends 'layout/main-layout.html' %} {% block content %}
<br class="my-4" />
<h1 class="my-4 text-center">Agrega una canción</h1>
<br class="my-4" />
<br class="my-4" />
<br class="my-4" />
<br class="my-4" />
<br class="my-4" />
<div class="container px-5">
  <section class="form-floating">
    <input
      type="text"
      class="form-control input-dark"
      id="nombre_cancion"
      name="nombre"
      placeholder="Nombre de la canción"
    />
    <label for="nombre_cancion" class="form-label">Título</label>
  </section>
</div>

{% endblock content %}
